sudo: required
language: python
dist: xenial  # required for Python 3.7
cache: pip

python:
  - "3.6"
  - "3.7"

install:
  - pip install --upgrade pip
  - pip install --progress-bar off .[tensorflow,torch,extras]
  - pip install pylint flake8
  - pip install mypy
  - pip install pytest

script:
  # linting
  - pylint texar/ examples/
  - flake8 texar/ examples/
  # type-checking
  - mypy .
  # unit tests
  - pytest

jobs:
  include:
    - stage: docs
      python: "3.7"
      install:
        - pip install --upgrade pip
        - pip install --progress-bar off -r requirements.txt
        # install library required for spellcheck
        - sudo apt-get install libenchant1c2a myspell-en-us
        - pip install --progress-bar off -r docs/requirements.txt
      script:
        - cd docs
        # build documents
        - sphinx-build -W -b html -d _build/doctrees . _build/html
        # check for typos
        - sphinx-build -W -b spelling -d _build/doctrees . _build/spelling

notifications:
  email: false
